.audio-call-div{
 position: absolute;
 width: 100%;
display: flex;
justify-content: center;
align-items: center;
 height: 100%;   

 background: rgba(13, 15, 38, 0.7);
z-index: 10;
backdrop-filter: blur(5px);
}
.audiocall{
  
   height: 70%;
   padding-top: 5%;
    display: flex;
    border-radius: 25px;
    align-items: center;
    flex-direction: column;
   
}
.audiocall p:nth-child(2){
font-weight: bold;
font-size: 1rem;
margin-top: 1%;

}
.audiocall p:not(:nth-child(2)){
    color:#CACBDB;
    font-weight: bolder;
    font-size: clamp(0.9rem,1vw,1rem);
    
}
.audiocall p:nth-child(3){
    margin-top: 1%;
}

.audiocall img{
    width: 95px;
height: 90px;
border-radius: 50%;
}
.audio-call-button-div{
 margin-top: 5%;   
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: #1F223F;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
gap: 20%;
height: 20%;
}
.audio-call-button-div button:nth-child(1){
    background: #D22F10;


}

.audio-call-button-div button:nth-child(2){
    background: #84A910;

}

.mute-unmute-audio{
    background-color: #2D304F;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}
.disconnect-call{
    background-color: #D22F10;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}
.audio-call-review-div{
    margin-top: 5%;   
    padding-top: 3%;
    background: #1F223F;


border-radius: 30px;

align-items: center;
gap: 20%;
height: 45%;   
}

.audio-call-review-div button{
    border: 1px solid 
    #8CC8FF;
    width: 35%;

    height: 2rem;
    border-radius: 30px;
    background: linear-gradient(0deg, #275ACE, #275ACE),
linear-gradient(0deg, #8CC8FF, #8CC8FF);

}
@media (max-width:767px){
    .audiocall{
        width: 84%;
    }

    .audio-call-button-div button{
        text-align: center;
        border-radius: 9px;
           height: 30%;
           justify-content: center;
           align-items: center;
        
           width: 35%;
       }
       .audio-call-button-div svg{
    width: 35px;
    height: 27px;
       }
       .audio-call-button-div{
        width: 75%;
            }
            .audio-call-review-div{
width: 84%;
            }

}

@media (min-width:768px){
    .audio-call-button-div{
width: 40%;
    }
    .audio-call-review-div{
width: 30%;
    }
    .audiocall{
        width: 60%;
    }
    .audio-call-button-div button{
        text-align: center;
        border-radius: 9px;
           height: 50%;
           justify-content: center;
           align-items: center;
           gap: 3%;
           width: 35%;
       }
}
.timepara{
   
    font-weight: bold !important;
    color: #CACBDB !important;
}
.timepara>*{
   
    font-weight: bold !important;
    color: #CACBDB !important;
}